@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" type="text/css" href="~/Content/forum.css">
<html>
<body>
    
    <br />
    <br />
    <table>
        <tr>
            <th>Forum</th>
            <th>Description</th>
            <th>Total Posts</th>
            <th>Total Participants</th>
        </tr>
        @foreach (var item in Model)
        {
         <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.TotalPosts</td>
            <td>@item.TotalParticipants</td>
        </tr>
        }
    </table>

</body>

</html>
