@{
    ViewBag.Title = "About";
}
<link rel="stylesheet" type="text/css" href="~/Content/forum.css">
<html>
<body>
    <br />
    <br />
    <table>
        <tr>
            <th>Forum</th>
            <th>Description</th>
            <th>Total Posts</th>
            <th>Total Participants</th>
        </tr>
        <tr id="bigbig">
            <td>Group Formation - Evening Class</td>
            <td>We would encourage you to form a group based on your topic. Feel free to put your topic and ask other students in your own class to join you.</td>
            <td>7</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Group Formation - Evening Class</td>
            <td>We would encourage you to form a group based on your topic. Feel free to put your topic and ask other students in your own class to join you.</td>
            <td>7</td>
            <td>6</td>
        </tr>
    </table>

</body>

</html>
