
@{
    ViewBag.Title = "Reply";
}

<h2>Reply</h2>

<html>
    <body>
        <p>Subject <input type="text"></p>
        <p>Message</p>
        <p><textarea></textarea></p>
        <p><button>Cancel</button> <button>Submit</button></p>
    </body>
</html>