@{
    ViewBag.Title = "ThreadList";
}
<link rel="stylesheet" type="text/css" href="~/Content/forum.css">
<html>
    <body>
        <br />
        <button>Create Thread</button>
        <br />
        <br />
        <table>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Thread
                </th>
                <th>
                    Author
                <th>
                    Total Posts
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.ThreadName</td>
                    <td>@item.Author</td>
                    <td>@item.TotalPosts</td>
                </tr>
            }
        </table>
    </body>
</html>

