@{
    ViewBag.Title = "ThreadList";
}
<link rel="stylesheet" type="text/css" href="~/Content/forum.css">
<html>
    <body>
        <br />
        <button>Create Thread</button>
        <br />
        <br />
        <table>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Thread
                </th>
                <th>
                    Author
                <th>
                    Total Posts
                </th>
            </tr>
            <tr>
                <td>17/08/16 7:17 PM</td>
                <td>Area - Mental illnesses/dissability</td>
                <td>Cristobal Escudero</td>
                <td>3</td>
            </tr>
            <tr>
                <td>17/08/16 7:17 PM</td>
                <td>Area - Mental illnesses/dissability</td>
                <td>Cristobal Escudero</td>
                <td>3</td>
            </tr>                
        </table>
    </body>
</html>

